@import '../../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
  align-items: center;
  padding: 20px;

  &Left {
    button {
      font-family: 'Sono';
      font-weight: 400;
      font-size: 20px;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      padding: 0;
      display: flex;
      align-items: center;

      svg {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }

  &Center {
    display: flex;
    justify-content: space-around;
    margin-right: 105px;

    a {
      margin: 10px;
    }

    button {
      width: 133px;
      height: 44px;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      transition: background-color 0.3s ease-in-out;
      padding: 0;

      &:hover {
        background-color: rgba($color-hover, 0.5);
      }

      &:hover span {
        opacity: 100%;
      }

      &.selected {
        background-color: $color-hover;
      }
    }
  }
  .logo {
    width: 54px;
    height: 54px;
    margin-left: 25px;
  }
}

@media (min-width: 576px) and (max-width: 1336px) {
  .header {
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 20px;

    button {
      color: #000000;
    }

    &Left {
      button {
        font-size: 2.2vw;
        cursor: pointer;
      }
    }

    &Center {
      margin-right: 13%;

      a {
        margin: 0px;
      }

      button {
        width: 14vw;
        height: auto;
        font-size: 2vw;
        line-height: 0;
        padding: 2.4vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .logo {
      width: 6vw;
      height: 6vw;
      margin-left: 2vw;
    }
  }
}
