.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// @media screen and (orientation: landscape) and (max-width: 767px) {
//   /* Скрываем основное содержимое сайта */
//   .app {
//     display: none;
//   }
// }
